<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMapsAPIKey</key>
	<string>AIzaSyBSGUnuzggEBdGQXuk-6G06OyD7kXxu1VM</string>
	<key>UIApplicationDelegateClassName</key>
	<string>AppDelegate</string>
	<key>CFBundleIdentifier</key>
	<string>MF-inder.Seas2</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby islands.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to show nearby islands.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-screen-background</string>
		<key>UIImageName</key>
		<string>MF_inder Image</string>
	</dict>
</dict>
</plist>
